streamlit
python-dotenv
requests>=2.32.5

langchain
langchain-community
langchain-core
langchain-openai

chromadb

pymupdf
pypdf

sentence-transformers

openai

tiktoken

numpy
pandas

beautifulsoup4
lxml

yt-dlp

ffmpeg-python

opencv-python-headless
