# Core
streamlit
python-dotenv
requests>=2.32.5
watchdog

langchain
langchain-core
langchain-community
langchain-openai
langchain-mistralai
langchain-text-splitters
langchain-chroma
langgraph
langsmith
# LLM
openai
mistralai

# Vector Database
chromadb

# Embeddings
sentence-transformers
transformers
torch

# PDF
pymupdf
pypdf

# Data
numpy
pandas
scikit-learn
scipy

# Web Search
beautifulsoup4
lxml
tavily-python

# Video
yt-dlp
ffmpeg-python
openai-whisper

# Utilities
tiktoken
pillow
opencv-python-headless
protobuf
tqdm
rich
xxhash
uuid-utils
