streamlit

langchain
langchain-core
langchain-community

langchain-openai
langchain-mistralai
langchain-huggingface

openai
mistralai

chromadb

sentence-transformers
transformers
torch

pypdf
pymupdf

python-dotenv

tiktoken

pandas
numpy

requests
httpx
tqdm